<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="RestAPI">
    <classes>
      <class name="demoPackage.Twitter"/>
      <class name="demoPackage.basic6"/>
      <class name="demoPackage.basic"/>
      <class name="demoPackage.excelDriven"/>
      <class name="demoPackage.basic5"/>
      <class name="demoPackage.JiraTestBasic1"/>
      <class name="demoPackage.basic4"/>
      <class name="demoPackage.basic3"/>
      <class name="demoPackage.basic2"/>
    </classes>
  </test> <!-- RestAPI -->
</suite> <!-- Suite -->
